.body {
  background-color: white;
}

.text-top {
  position: absolute;
  background-color: transparent;
  text-align: center;
  top: 35%;
  width: 100%;
}

.footer {
  background-color: #1f4e5f;
  bottom: 0;
  color: white;
  height: 60px;
  left: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.navbar-inner {
  background: transparent;
}

.three {
  padding-top: 50px;
  padding-bottom: 50px;
}

H1 {
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 80px;
}

H4 {
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}
